<p id="notice"><%= notice %></p>

<p>
  <strong>Id 2:</strong>
  <%= @vaca.id_2 %>
</p>

<p>
  <strong>Anonac:</strong>
  <%= @vaca.anonac %>
</p>

<p>
  <strong>Padre:</strong>
  <%= @vaca.padre %>
</p>

<p>
  <strong>Nropar:</strong>
  <%= @vaca.nropar %>
</p>

<p>
  <strong>Grupo racial:</strong>
  <%= @vaca.grupo_racial %>
</p>

<p>
  <strong>Tipser:</strong>
  <%= @vaca.tipser %>
</p>

<p>
  <strong>Toroas:</strong>
  <%= @vaca.toroas %>
</p>

<p>
  <strong>Diagno:</strong>
  <%= @vaca.diagno %>
</p>

<p>
  <strong>Fparto:</strong>
  <%= @vaca.fparto %>
</p>

<p>
  <strong>Becerro:</strong>
  <%= @vaca.becerro %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @vaca.sexo %>
</p>

<p>
  <strong>Pesonacer:</strong>
  <%= @vaca.pesonacer %>
</p>

<p>
  <strong>Pesodestete:</strong>
  <%= @vaca.pesodestete %>
</p>

<p>
  <strong>Peso18:</strong>
  <%= @vaca.peso18 %>
</p>

<%= link_to 'Edit', edit_vaca_path(@vaca) %> |
<%= link_to 'Back', vacas_path %>
