<p id="notice"><%= notice %></p>

<h1>Reproduccion</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align:center">Id 2</th>
      <th style="text-align:center">Nacimiento</th>
      <th style="text-align:center">Anonac</th>
      <th style="text-align:center">Padre</th>
      <th style="text-align:center">Madre</th>
      <th style="text-align:center">Lact</th>
      <th style="text-align:center">Id lact</th>
      <th style="text-align:center">Parto</th>
      <th style="text-align:center">IPP</th>
      <th style="text-align:center">ER</th>
      <th style="text-align:center">I. Reproduccion</th>
      <th style="text-align:center">I. Leche</th>
      <th style="text-align:center">I. Combinado</th>
      <th style="text-align:center">Anopart</th>
      <th style="text-align:center">Mesparto</th>
      <th style="text-align:center">Cria</th>
      <th style="text-align:center">Sexo cria</th>
      <th style="text-align:center">Padre cria</th>
      <th style="text-align:center">Meses parto</th>
      <th style="text-align:center">Prenez</th>
      <th style="text-align:center">Toro prenez</th>
      <th style="text-align:center">Servicios</th>
      <th style="text-align:center">Secado</th>
      <th style="text-align:center">Lechetotal</th>
      <th style="text-align:center">Del</th>
      <th style="text-align:center">Acum 305d</th>
      <th style="text-align:center">Removida</th>
      <th style="text-align:center">Fecha salida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reproduccions.each do |reproduccion| %>
      <tr>
        <td style="text-align:center"><%= reproduccion.id_2 %></td>
        <td style="text-align:center"><%= reproduccion.nacimiento %></td>
        <td style="text-align:center"><%= reproduccion.anonac %></td>
        <td style="text-align:center"><%= reproduccion.padre %></td>
        <td style="text-align:center"><%= reproduccion.madre %></td>
        <td style="text-align:center"><%= reproduccion.lact %></td>
        <td style="text-align:center"><%= reproduccion.id_lact %></td>
        <td style="text-align:center"><%= reproduccion.parto %></td>
        <td style="text-align:center"><%= reproduccion.ipp %></td>
        <td style="text-align:center"><%= reproduccion.er ? reproduccion.er.round(2) : "" %></td>
        <td style="text-align:center"><%= reproduccion.indice ? reproduccion.indice.round(2) : "" %></td>
        <td style="text-align:center"><%= reproduccion.ind_leche ? reproduccion.ind_leche.round(2) : "" %></td>
        <td style="text-align:center"><%= reproduccion.ind_combinado ? reproduccion.ind_combinado.round(2) : "" %></td>
        <td style="text-align:center"><%= reproduccion.anopart %></td>
        <td style="text-align:center"><%= reproduccion.mesparto %></td>
        <td style="text-align:center"><%= reproduccion.cria %></td>
        <td style="text-align:center"><%= reproduccion.sexo_cria %></td>
        <td style="text-align:center"><%= reproduccion.padre_cria %></td>
        <td style="text-align:center"><%= reproduccion.meses_parto %></td>
        <td style="text-align:center"><%= reproduccion.prenez %></td>
        <td style="text-align:center"><%= reproduccion.toro_prenez %></td>
        <td style="text-align:center"><%= reproduccion.servicios %></td>
        <td style="text-align:center"><%= reproduccion.secado %></td>
        <td style="text-align:center"><%= reproduccion.lechetotal %></td>
        <td style="text-align:center"><%= reproduccion.del %></td>
        <td style="text-align:center"><%= reproduccion.acum_305d %></td>
        <td style="text-align:center"><%= reproduccion.removida %></td>
        <td style="text-align:center"><%= reproduccion.fecha_salida %></td>
        <td><%= link_to 'Show', reproduccion %></td>
        <td><%= link_to 'Edit', edit_reproduccion_path(reproduccion) %></td>
        <td><%= link_to 'Destroy', reproduccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div >
  <%= form_tag import_reproduccions_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Cargar CSV" %>
  <% end %>
</div>
<br>

<%= link_to 'New Reproduccion', new_reproduccion_path %>
