<p id="notice"><%= notice %></p>

<p>
  <strong>Id 2:</strong>
  <%= @reproduccion.id_2 %>
</p>

<p>
  <strong>Nacimiento:</strong>
  <%= @reproduccion.nacimiento %>
</p>

<p>
  <strong>Anonac:</strong>
  <%= @reproduccion.anonac %>
</p>

<p>
  <strong>Padre:</strong>
  <%= @reproduccion.padre %>
</p>

<p>
  <strong>Madre:</strong>
  <%= @reproduccion.madre %>
</p>

<p>
  <strong>Lact:</strong>
  <%= @reproduccion.lact %>
</p>

<p>
  <strong>Id lact:</strong>
  <%= @reproduccion.id_lact %>
</p>

<p>
  <strong>Parto:</strong>
  <%= @reproduccion.parto %>
</p>

<p>
  <strong>Anopart:</strong>
  <%= @reproduccion.anopart %>
</p>

<p>
  <strong>Mesparto:</strong>
  <%= @reproduccion.mesparto %>
</p>

<p>
  <strong>Cria:</strong>
  <%= @reproduccion.cria %>
</p>

<p>
  <strong>Sexo cria:</strong>
  <%= @reproduccion.sexo_cria %>
</p>

<p>
  <strong>Padre cria:</strong>
  <%= @reproduccion.padre_cria %>
</p>

<p>
  <strong>Meses parto:</strong>
  <%= @reproduccion.meses_parto %>
</p>

<p>
  <strong>Prenez:</strong>
  <%= @reproduccion.prenez %>
</p>

<p>
  <strong>Toro prenez:</strong>
  <%= @reproduccion.toro_prenez %>
</p>

<p>
  <strong>Servicios:</strong>
  <%= @reproduccion.servicios %>
</p>

<p>
  <strong>Secado:</strong>
  <%= @reproduccion.secado %>
</p>

<p>
  <strong>Lechetotal:</strong>
  <%= @reproduccion.lechetotal %>
</p>

<p>
  <strong>Del:</strong>
  <%= @reproduccion.del %>
</p>

<p>
  <strong>Acum 305d:</strong>
  <%= @reproduccion.acum_305d %>
</p>

<p>
  <strong>Removida:</strong>
  <%= @reproduccion.removida %>
</p>

<p>
  <strong>Fecha salida:</strong>
  <%= @reproduccion.fecha_salida %>
</p>

<%= link_to 'Edit', edit_reproduccion_path(@reproduccion) %> |
<%= link_to 'Back', reproduccions_path %>
