<p id="notice"><%= notice %></p>

<h1>Pesajes</h1>
<%= link_to 'Ir a Vacas', vacas_path %>

<div>
 <%  maximos_x_vaca = Pesaje.group("id_2").maximum(:del) %>
 <% maximos = maximos_x_vaca.values %>
 <p>Promedio Días de Lactancia: <%= (maximos.inject{ |sum, el| sum + el }.to_f / maximos.size).round(2) %> </p> 
 <ul>Número de Animales por raza
  <% razas = Pesaje.select("raza, count(raza) as total").group("raza") %>
  <% razas.each do |t| %>
   <li> <%= t.raza %>: <%= t.total %> </li>
  <% end %>
 </ul>
  <ul>Días promedio de lactancia por raza
 
  <% razas.each do |t| %>
    <% maximos_raza = Pesaje.where("raza"=>t.raza).group("id_2").maximum(:del) %>
    <% maximos_raza = maximos_raza.values %>
   <li> <%= t.raza %>: <%= (maximos_raza.inject{ |sum, el| sum + el }.to_f / maximos_raza.size).round(2) %>  </li>
  <% end %>
 </ul>
 
</div>

<div>
 <% animales = Pesaje.select("id_2").group("id_2") %>
  <table class="table table-striped" style="width: 50%;">Resultados por animal
    <thead>
      <th style="text-align:center">Id 2</th>
      <th style="text-align:center">Dias maximo de lactancia</th>
      <th style="text-align:center">Dia de ultimo pesaje</th>
      <th style="text-align:center">Produccion Acumulada</th>
      <th style="text-align:center">Produccion Promedio por dia</th>
      <% lactancias_totales = Pesaje.select("lactancia").group("lactancia").order("lactancia ASC") %>
      <% lactancias_totales.each do |l| %>
        <th style="text-align:center">Lactancia <%= l.lactancia %></th>
      <% end %>
    </thead>
    <tbody>
      <% animales.each do |a| %>
      <% este_animal = Pesaje.where("id_2"=>a.id_2) %>
      <tr>
        <td style="text-align:center"><%= a.id_2 %></td>
        <td style="text-align:center"><%= maximos_x_vaca[a.id_2] %></td>
        <td style="text-align:center"><%= este_animal.order("pesaje DESC").first.del %></td>
        <td style="text-align:center"><%= Pesaje.produccion_acumulada(este_animal).round(2) %></td>
        <td style="text-align:center"><%= este_animal.average("lvd").round(2) %>
        <% lactancias_totales.each do |l| %>
          <td style="text-align:center"><%= Pesaje.produccion_acumulada_lactancia(este_animal, l.lactancia).round(2) %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <table class="table table-striped" style="width: 50%;">Pesajes
    <thead>
      <tr>
        <th style="text-align:center">Id 2</th>
        <th style="text-align:center">Parto</th>
        <th style="text-align:center">Pesaje</th>
        <th style="text-align:center">Del</th>
        <th style="text-align:center">Lvd</th>
        <th style="text-align:center">Raza</th>
        <th style="text-align:center">Lactancia</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pesajes.each do |pesaje| %>
        <tr>
          <td style="text-align:center"><%= pesaje.id_2 %></td>
          <td style="text-align:center"><%= pesaje.parto %></td>
          <td style="text-align:center"><%= pesaje.pesaje %></td>
          <td style="text-align:center"><%= pesaje.del %></td>
          <td style="text-align:center"><%= pesaje.lvd %></td>
          <td style="text-align:center"><%= pesaje.raza %></td>
          <td style="text-align:center"><%= pesaje.lactancia%></td>
          <td style="text-align:center"><%= link_to 'Show', pesaje %></td>
          <td style="text-align:center"><%= link_to 'Edit', edit_pesaje_path(pesaje) %></td>
          <td style="text-align:center"><%= link_to 'Destroy', pesaje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div >
  <%= form_tag import_pesajes_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Cargar CSV" %>
  <% end %>
</div>

<br>


<%= link_to 'New Pesaje', new_pesaje_path %>
