<p id="notice"><%= notice %></p>

<p>
  <strong>Id 2:</strong>
  <%= @pesaje.id_2 %>
</p>

<p>
  <strong>Parto:</strong>
  <%= @pesaje.parto %>
</p>

<p>
  <strong>Pesaje:</strong>
  <%= @pesaje.pesaje %>
</p>

<p>
  <strong>Del:</strong>
  <%= @pesaje.del %>
</p>

<p>
  <strong>Lvd:</strong>
  <%= @pesaje.lvd %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @pesaje.raza %>
</p>

<%= link_to 'Edit', edit_pesaje_path(@pesaje) %> |
<%= link_to 'Back', pesajes_path %>
